@font-face {
  font-family: SarasaMonoTSCBoldItalic;
  src: url(/fonts/SarasaMonoTSCBoldItalic.woff2);
  font-weight: normal;
}

@font-face {
  font-family: Furore;
  src: url(/fonts/Furore.woff2);
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: SarasaMonoTSCBoldItalic;
}

body {
  background-color: var(--color-bg-1);
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
